@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f8fc;
}

.content {
    padding: 1rem;
    background-color: white;
    height: 100vh;
    width: 100vw;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.288);
}

.content h1 {
    margin: 0px;
    text-align: center;
    margin-bottom: 1rem;
}

.content .detalhes{
    padding: 1em;
    border-radius: 10px;
    background-color: #831010; 
}
.content .detalhes a{
    text-decoration: none;
    color: black;
}
.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon {
    margin: .2rem;
    padding: 2rem 1rem;
    color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;

}

.pokemon .number {
    color: black;
    opacity: 0.3;
    text-align: right;
    font-size: 0.825rem;
}

.pokemon .name {
    color: white;
    margin-bottom: 0.25rem;
    text-transform: capitalize;
}

.pokemon .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .details .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .details .types .type {
    color: white;
    padding: .25rem 1rem;
    margin: .20rem 0;
    font-size: .625rem;
    border-radius: 10px;
    filter: brightness(1.2);
}

.pokemon .details img {
    max-width: 50%;
    height: 70px;
    margin-left: 1rem;
    align-self: flex-end;

}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: white;
    padding: .25rem 1rem;
}

.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}